.contacts {
  min-width: 100%;
}
.contacts_container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  padding: 1rem;
  margin-top: 5rem;
}
.contacts_link {
  width: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f7f474;
  fill: #f7f474;
  margin-bottom: 2rem;
  font-family: "Amatic SC", cursive;
  font-weight: bolder;
  letter-spacing: 1px;
  text-decoration: none;
}
.contacts_link div {
  margin-top: 1rem;
}
.contacts_link:hover,
.contacts_link:focus {
  color: #2cffea;
  fill: #2cffea;
  transform: scale(1.1);
}
@media (width < 768px) {
  .contacts_container {
    flex-direction: column;
    margin-top: 0;
  }
}

@media (1024px <= width) {
  .contacts_container {
    max-width: 1024px;
  }
}
