.header {
  min-width: 100%;
}

.header_container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  padding: 1rem;
}

.icons_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  min-width: 20rem;
  color: #f7f474;
  fill: #f7f474;
  stroke: #f7f474;
}
button {
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.logo_container {
  max-width: 25rem;
  height: 6rem;
}
.logo_container:hover {
  transform: scale(1.1);
}

.logo_container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.header_button {
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f7f474;
}
.header_button:hover,
.header_button:focus {
  color: #2cffea;
  fill: #2cffea;
  stroke: #2cffea;
  transform: scale(1.1);
}
.header_button svg {
  width: 3rem;
  margin-bottom: 0.5rem;
}
.burger_menu {
  width: 3.5rem;
  fill: #f7f474;
}
.burger_menu:hover {
  fill: #2cffea;
  transform: scale(1.1);
}

@media (width < 768px) {
  .icons_container {
    display: none;
  }
}

@media (768px <= width <= 1024px) {
  .burger_menu {
    display: none;
  }
}

@media (1024px <= width) {
  .header_container {
    max-width: 1256px;
  }
  .burger_menu {
    display: none;
  }
}
